#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.botoes {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.botoes button {
  background-color: #ffffff;
}

.caixa {
  transform: scale(2.0);
}

.reset{
  margin-top: 10px;
}