.quadro {
  max-width: 550px;
  text-align: center;
  margin: 30% auto;
  font-family: 'Times New Roman', Times, serif;
  box-shadow: 0 6px 12px rgba(0,0,0,0.2);
  background: #f9f9f9; 
  border-radius: 15px;
}

.form {
  justify-content: center;
  display: flex;
  gap: 2%;
}

.form input{
  max-width: 25%;
}

.form button{
  background-color: green;
  color: #f9f9f9;
}

.tabela{
  border-collapse: collapse;
  margin: 2% auto;
  width: 89%;
}

.tabela th{
  border: 1px solid #ccc;
  padding: 2% 12px;
}

.tabela th button{
  background-color: red;
}

.tabela thead{
  background-color: hsl(0, 0%, 80%);
}

.total p{
  max-width: 89%;
  margin: 2% auto;
  background-color: rgba(13, 149, 27, 0.328);
  text-align: right;
}