.quadro {
  max-width: 550px;
  text-align: center;
  margin: 300px auto;
  font-family: 'Times New Roman', Times, serif;
  box-shadow: 0 6px 12px rgba(0,0,0,0.2);
  background: #f9f9f9; 
  border-radius: 15px;
  padding-bottom: 1%;
  padding-top: 1%;
}

.form {
  justify-content: center;
  display: flex;
  gap: 2%;
}

.form input{
  max-width: 25%;
}

.form button{
  background-color: green;
  color: #f9f9f9;
}

.tabela{
  border-collapse: collapse;
  margin: 2% auto;
  width: 89%;
}

.tabela th{
  border: 1px solid #8d8d8d;
  padding: 1% 12px;
}

.tabela thead th{
 background-color: #d4d4d4; 
}

.tabela th button{
  background-color: red;
}

.tabela tfoot{
  margin: 2% auto;
  text-align: right;
  background-color: rgba(13, 149, 27, 0.328);
}


.total p{
  display: flex;
  max-width: 88%;
  max-height: 40px;
  margin: 2% auto;
  background-color: rgba(13, 149, 27, 0.328);
  text-align: right;
  border-radius: 8px;
  padding: 1%;
  justify-content: flex-end;
}
